<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-box">
        <h2>Sign Up</h2>

        <form method="post">
            <input name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button>Create Account</button>
        </form>

        <div class="signup">
            <a href="/">Back to Login</a>
        </div>
    </div>
</div>

</body>
</html>
