<!DOCTYPE html>
<html>
<head>
    <title>Application Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-wrapper">
    <div class="login-box">
        <h2>My Applications</h2>

        {% for row in data %}
            <p>
                <b>{{ row[0] }}</b><br>
                Applied on: {{ row[1] }}<br>
                Status: {{ row[2] }}
            </p>
            <hr>
        {% endfor %}

        <a href="/dashboard">Back to Dashboard</a>
    </div>
</div>

</body>
</html>
